<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Article Create</title>
</head>
<body>
<div>
    <form th:action="@{/writer/createArticle}" method="post">
        <fieldset>
            <label for="title">Id</label>
            <input type="text" name="id" id="id">
        </fieldset>
        <fieldset>
            <label for="title">Title</label>
            <input type="text" name="title" id="title">
        </fieldset>
        <fieldset>
            <label for="author">Author</label>
            <input type="text" name="author" id="author">
        </fieldset>
        <fieldset>
            <label for="articleCategory">Category</label>
            <select id="articleCategory" name="articleCategory">
                <option th:each="articleCategory : ${T(com.ps.common.enumeration.ArticleCategory).values()}"
                        th:value="${articleCategory}" th:text="${articleCategory}"></option>
            </select>
        </fieldset>
        <fieldset>
            <label for="abstractArticle">Abstract</label>
            <input type="text" name="abstractArticle" id="abstractArticle">
        </fieldset>
        <fieldset>
            <label for="body">Body</label>
            <input type="text" name="body" id="body">
        </fieldset>
        <button type="submit">Save</button>
    </form>
    </div>
</body>
</html>