<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Article details</title>
</head>
<body>
<p>
    <span>Title: </span>
    <span th:text="${article.title}">title</span>
</p>
<p>
    <span>Abstract: </span>
    <span th:text="${article.abstractArticle}">abstract</span>
</p>
<p>
    <span>Body: </span>
    <span th:text="${article.body}">body</span>
</p>
<p>
    <script>
        function rowClicked(value) {
            location.href = "/article/" + value;
        }
    </script>
    <span>Related Articles: </span>
    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Abstract</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${article.relatedArticles.isEmpty()}">
            <td colspan="2">no articles related</td>
        </tr>
        <tr th:unless="${article.relatedArticles.isEmpty()}"
            th:each="articleDescription : ${article.relatedArticles}" style="cursor: pointer"
                th:onClick="'javascript:rowClicked(\'' + ${articleDescription.id}+'\');'">
            <td>[[${articleDescription.title}]]</td>
            <td>[[${articleDescription.abstractArticle}]]</td>
        </tr>
        </tbody>
    </table>
</p>
</body>
</html>