<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Article list</title>
</head>
<body>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Author</th>
            <th>Category</th>
            <th>Abstract</th>
            <th>Body</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${articles.isEmpty()}">
            <td colspan="6">No articles</td>
        </tr>
        <tr th:unless="${articles.isEmpty()}" th:each="article : ${articles}">
            <td>[[${article.id}]]</td>
            <td>[[${article.title}]]</td>
            <td>[[${article.author}]]</td>
            <td>[[${article.articleCategory}]]</td>
            <td>[[${article.abstractArticle}]]</td>
            <td>[[${article.body}]]</td>
        </tr>
        </tbody>
    </table>
</body>
</html>