<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
    <div>
        <form th:action="@{/user/create}" method="post">
            <fieldset>
                <label for="username">Username</label>
                <input type="text" name="username" id="username">
            </fieldset>
            <fieldset>
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </fieldset>
            <fieldset>
                <label for="role">Role</label>
                <select id="role" name="role">
                    <option th:each="role : ${T(com.ps.common.enumeration.UserRole).values()}"
                    th:value="${role}" th:text="${role}"></option>
                </select>
            </fieldset>
            <button type="submit">Save</button>
        </form>
    </div>
</body>
</html>