<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>List Categories</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Category Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${categories.isEmpty()}">
        <td colspan="2">no categories</td>
    </tr>
    <tr th:unless="${categories.isEmpty()}" th:each="cat : ${categories}">
        <td>[[${cat.id}]]</td>
        <td>[[${cat.categoryName}]]</td>
    </tr>
    </tbody>
</table>
</body>
</html>