<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>
    <span>ID: </span>
    <span th:text="${user.id}">id</span>
</p>
<p>
    <span>USERNAME: </span>
    <span th:text="${user.username}">username</span>
</p>
<p>
    <span>PASSWORD: </span>
    <span th:text="${user.password}">password</span>
</p>
<p>
    <span>ROLE: </span>
    <span th:text="${user.role}">role</span>
</p>
</body>
</html>